*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;

}
h1{
	text-align: center;
	color:  green;
	padding: 20px;
}
nav{
	background-color: lime;
	display: grid;
	place-items: center;
}
nav ul{
	list-style-type: none;
}
nav ul a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: #000;
	transition: 0.2s ease-in;
	font-size: 18px;
}
nav ul a:hover{

	background-color: green;
	color: white;
}
body{
	background-color: #f3f3f3;
	font-family: 'poppins',sans-serif;

}
.menu{
	padding: 0 10px 30px 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax (350px,1fr));
}
.heading{
	background-color: red;
	color: #ffff;
	margin-bottom: 30px;
   padding: 30px 0;
   grid-column: 1/-1;
   text-align: center;
}
.food-items{
	display: grid;
	position: relative;
	grid-template-rows: auto 1fr;
	border-radius: 15px;
	box-shadow: 0 0 15px rgba(0, 0n, 0, 1);
}
.food-items img{
position: relative;
width: 100%;
border-radius:  15px 15px 0 0;
}
h1{
	grid-column: 1/-1;
	text-align: center;
}
.details{
	padding: 20px 10px;
	display: grid;
  grid-template-rows:  auto 1fr 50px;
	grid-row-gap: 15px;

}
.details-sub{
	display: grid;
	grid-template-columns: auto auto;
}
.details-sub>h5{
	font-weight: 600;
	font-size: 18px;
}
.price{
	text-align: right;
}
.details>p{
color:  #6f6f6f;
font-size: 15px;
line-height: 28px;
font-weight: 400;
align-self: stretch;

}
.details>button{
	background-color: #6f6f6f;
	border: none;
	color: white;
	font-size: 16px;
	font-weight: 600;
	border-radius: 5px;
	width: 100%;
}

.btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
	}
	.btnn{
		text-align: center;
		margin-top: 3%;
		background-color: green;
		}
		.btn:hover{
		border: 1px solid #f44336;
		background: #f44336;
		transition: 1s;
		}






